@model FaucetSendViewModel

@{
    ViewData["Title"] = "Faucet";
}

<h1>Faucet</h1>

<h2 class="text-info">@ViewBag.Message</h2>

<h3>Balance: @Model.Balance</h3>

<h4>You will get between 0 and 10 coins.</h4>

<form asp-area="Faucet" asp-controller="Faucet" asp-action="Send" asp-antiforgery="true" method="post">
    <div class="row form-group">
        <div class="col-xs-12">
            <label asp-for="To"></label>
            <input asp-for="To" class="form-control" />
            <span asp-validation-for="To" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <input type="submit" value="Give Me" class="btn btn-group" />
        </div>
    </div>
</form>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}

