@model SearchAddressViewModel

@{
    ViewData["Title"] = "Wallet Address";
}

<form asp-area="Wallets" asp-controller="Wallet" asp-action="Address" asp-antiforgery="true" method="post">
    <div class="row form-group">
        <div class="col-xs-12">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</form>

@Html.Partial("_AddressPartial", Model.AddressHistory)

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
