@{
    ViewData["Title"] = "Home Page";
}

<h1>Wallet</h1>

<h2>Supports:</h2>

<ul>
    <li>
        <h3>
            Single private key/address pair
        </h3>
    </li>
    <li>
        <h3>
            Sending transactions
        </h3>
    </li>
</ul>