@model ICollection<BlockViewModel>

@{
    ViewData["Title"] = "Block Explorer";
}

<h1>Block Explorer</h1>

<div class="row form-group">
    <div class="col-xs-12">
        @Html.DisplayForModel()
    </div>
</div>