@{ 
    ViewData["Title"] = "Home";
}

<div id="home-body" class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="nav-row row">
            <a asp-area="Node" asp-controller="Base" asp-action="Index">
                <div class="nav-cell col-xs-5">
                    <div class="nav-cell-img-holder">
                        <img src="~/images/api.png" alt="API" />
                    </div>
                </div>
            </a>

            <a asp-area="Explorer" asp-controller="Explorer" asp-action="Index">
                <div class="nav-cell col-xs-5">
                    <div class="nav-cell-img-holder">
                        <img src="~/images/explorer.png" alt="EXPLORER" />
                    </div>
                </div>
            </a>
        </div>

        <div class="nav-row row">
            <a asp-area="Faucet" asp-controller="Faucet" asp-action="Index">
                <div class="nav-cell col-xs-5">
                    <div class="nav-cell-img-holder">
                        <img src="~/images/faucet.png" alt="FAUCET" />
                    </div>
                </div>
            </a>

            <a asp-area="Wallets" asp-controller="Wallet" asp-action="Index">
                <div class="nav-cell col-xs-5">
                    <div class="nav-cell-img-holder">
                        <img src="~/images/wallet.png" alt="WALLET" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
