@{ 
    ViewData["Title"] = "Home";
}

<div id="home-body" class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="nav-row row">
            <div class="nav-cell col-xs-5">
                <div class="nav-cell-img-holder">
                    <img src="~/images/api.png" alt="API" />
                </div>
            </div>

            <div class="nav-cell col-xs-5">
                <div class="nav-cell-img-holder">
                    <img src="~/images/explorer.png" alt="EXPLORER" />
                </div>
            </div>
        </div>

        <div class="nav-row row">
            <div class="nav-cell col-xs-5">
                <div class="nav-cell-img-holder">
                    <img src="~/images/faucet.png" alt="FAUCET" />
                </div>
            </div>

            <div class="nav-cell col-xs-5">
                <div class="nav-cell-img-holder">
                    <img src="~/images/wallet.png" alt="WALLET" />
                </div>
            </div>
        </div>
    </div>
</div>
