<div id="wallet-header" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="Wallets" asp-controller="Wallet" asp-action="Create">Create</a></li>
        <li><a asp-area="Wallets" asp-controller="Wallet" asp-action="Address">Search</a></li>
        <li><a asp-area="Wallets" asp-controller="Wallet" asp-action="Send">Send Transaction</a></li>
    </ul>
</div>